.slider {
	position: relative;
	z-index: 1;
	height: 90vh;
}
.slider-item01 {
	background-image: url(../img/slider-img01.jpg);
}
.slider-item02 {
	background-image: url(../img/slider-img02.jpg);
}
.slider-item03 {
	background-image: url(../img/slider-img03.jpg);
}
.slider-item {
	width: 100%;
	height: 90vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.slick-prev,
.slick-next {
	position: absolute;
	z-index: 3;
	top: 42%; /*上から42%の位置に表示 */
	cursor: pointer;
	outline: none;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	width: 25px;
	height: 25px;
}

.slick-prev {
	left: 2.5%;
	transform: rotate(-135deg);
}
.slick-next {
	right: 2.5%;
	transform: rotate(45deg);
}

.slick-dots {
	position: relative;
	z-index: 3;
	text-align: center;
	margin: -50px 0 0 0;
}

.slick-dots li {
	display: inline-block;
	margin: 0 5px;
}

.slick-dots button {
	color: transparent;
	outline: none;
	width: 8px;
	height: 8px;
	display: block;
	border-radius: 50%;
	background: #ccc;
}
.slick-dots .slick-active button {
	background: #333;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: #fff;
}

a:hover,
a:active {
	text-decoration: none;
}

h1 {
	position: absolute;
	z-index: 2;
	bottom: 15%;
	left: 25%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 30px;
	font-weight: 600;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #fff;
	opacity: 0.9;
}

.top-wrapper {
	position: relative;
}

.container {
	background: #555;
}

.container p {
	padding: 300px 0;
	text-align: center;
	color: #fff;
}
/* ---- */
html {
	font-family: "noto-sans", "lato", sans-serif;
}
header {
	position: absolute;
	z-index: 2;
	background-color: rgba(250, 250, 250, 0.2);
	width: 100%;
	height: 80px;
	padding: 0 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header ul {
	display: flex;
	justify-content: space-between;
	width: 33%;
}
header a {
	font-family: "noto-sans", sans-serif;
	color: #fff;
	text-decoration: none;
	letter-spacing: 4px;
	opacity: 0.8;
}
header a:hover {
	opacity: 1;
}
.logo {
	margin-top: 8px;
}
.concept-wrapper,
.service-wrapper {
	min-height: 85vh;
	background-color: #67795e;
	color: #fff;
	text-align: center;
	padding: 2% 0;
}
.page-title {
	display: inline-block;
	font-size: 50px;
	font-family: "lato", sans-serif;
	letter-spacing: 8px;
	font-weight: 600;
	border-bottom: solid 1px #fff;
	padding-bottom: 10px;
	margin-top: 4%;
	margin-bottom: 6%;
}
.concept strong {
	display: inherit;
	margin: 0 auto 4%;
	font-size: 50px;
	font-weight: 400;
	font-family: "lato", sans-serif;
	letter-spacing: 2px;
}
.concept p {
	font-size: 20px;
	font-weight: 200;
	margin: 2% 0;
}
.image-wrapper {
	padding: 8% 0;
	text-align: center;
}
.image {
	max-width: 800px;
	margin: auto;
	object-fit: contain;
}
.image img {
	max-width: 800px;
	object-fit: contain;
	width: auto;
}
.image-bannar {
	max-width: 600px;
	margin: auto;
	object-fit: contain;
}
.image-bannar a:hover {
	opacity: 0.8;
}
.image-bannar img {
	max-width: 600px;
	object-fit: contain;
	width: auto;
}
.services {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 8%;
}
.services img {
	border-radius: 50%;
	max-width: 250px;
	height: auto;
}
.services p {
	margin-top: 8%;
	font-size: 20px;
	letter-spacing: 2px;
}
footer {
	background-color: #67795e;
	color: #fff;
	padding: 2%;
}
.footer-contents {
	max-width: 800px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer-adress p,
.footer-adress address {
	font-style: normal;
	letter-spacing: 1px;
}
.footer-info {
	display: flex;
	align-items: center;
	width: 50%;
}
.footer-img {
	padding-right: 8%;
}
.footer-link a {
	display: block;
	text-decoration: none;
	margin: 4% 0;
	opacity: 0.75;
}
.footer-link a:hover {
	opacity: 1;
}
.copyright {
	text-align: center;
	padding-top: 2%;
}
